# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# generated parser files
css/parser/css3Parser.*
css/parser/css3Lexer.*
css/parser/css3.tokens
