/* derp */
body {
	background: red,0% 0% green ;
	color: green;
}

.foo, .bar {
	background-color: transparent;
	color: #fff;
	line-height: 1.428571429;
}

h1 {
	font-size: 1em;
	color: #428bca;
}

.foo #baaaaaar {
	display: block;
	color: #aaa;
}

div.foo#far {
	color: red;
}

#foo:after {
	color: magenta;
}

input[type="text"] {
	border-radius: 10px;
	color: #333;
}

input[type='text'] {
	border-radius: 10px;
	color: #1a2b3c !important;
	width: 200px;
}


.foo > .bar {
	color: red;
}

p~ul { } /* all ul that are preceded by p */

div+p { } /* all p that are placed immediatly after div */

/* A comment */

::-webkit-scrollbar { visibility: hidden; }


/* Test some css3 stuff */
input[type^='te'] { }

input[type$='xt'] { }

input[type*='ex'] { }
input[type*=hai] { }

@media screen and (width: 200px) {
	.foo:not(.bar) { }
}

.foo:not(.bar) { }
.foo:nth-child (2n) { }
.foo:nth-last-child { }
.foo:nth-of-type { }
.foo:nth-last-of-type(2) { }
.foo:first-child { }
.foo:last-child { }
.foo:first-of-type { }
.foo:last-of-type { }
.foo:target { }
.foo:empty { }
